#userSearch {
    padding: 0 20%;
    bottom: 280px;
}

header {
    font-family: 'Permanent Marker', cursive;
    font-size: 700%;
    position: relative;
    bottom: 390px;
    color: white;
}

.tickets {
    color: #26A69A;
}

.hotel-font {
    color: #5D5D5D;
}

.card-panel {
    @extend .green,
    .lighten-4;
}

.clearfix {
    overflow: auto;
}

.center-align {
    margin: 80px auto;
}

.fa-ticket-alt {
  width: 100%;
}

/*styling for sticky footer*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
}

.logo {
    font-family: 'Permanent Marker', cursive;
}

.brand-logo {
    margin-left: 1%;
}




/*hotel styling*/

#hotelinfo {
    margin: 0px 10px;
}

#hotelPic {
    width: 100%;
}

#hotelPrices {
    width: 35%;
}

.collapsible-body,
.collapsible-header {
    color: black;
}

#band-name {
    font-family: 'Quicksand', sans-serif;
    font-size: 760%;
}

#no-event {
    font-family: 'Quicksand', sans-serif;
    color: red;
    font-size: 300%;
}

#coverImg {
    width: 100%;
}


@media only screen and (max-width: 600px) {

    header {
        font-size: 400%;
        position: relative;
        bottom: 340px;
    }

    .parallax-container {
        position: relative;
        margin-top: 0px;
        height: 360px;

    }

    #coverImg {
    width: 160%;
	}

	#band-name {
    font-family: 'Quicksand', sans-serif;
    font-size: 300%;
    margin: auto;
}
}



